{% extends "account/base.html" %}

{% load i18n static %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block body_extra %} class="fp-page" {% endblock %}
{% block content %}


<div class="fp-box">
  <div class="logo">
    <a href="javascript:void(0);">Dash<b>Tory</b></a>
    <small>Sistema de Inventario en la web</small>
  </div>
  <div class="card">
      <div class="body">
        <div class="msg">
            Enter your email address that you used to register. We'll send you an email with your username and a
            link to reset your password.
        </div>
        <div class="text-center w-75 m-auto">
          {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
          {% endif %}
        </div>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset" novalidate>
          {% csrf_token %}
          {{ form|crispy }}

          <div class="form-group mb-0 text-center">
            <input class="btn btn-primary btn-block" type="submit" value="{% trans 'Reset Password' %}" />
          </div>
        </form>
      <div class="row mt-3">
        <div class="col-12 text-center">
          <a href="{% url 'account_login' %}">Sign In!</a>
        </div> <!-- end col -->
      </div>
      <!-- end row -->
    </div>
  </div>
</div>
{% endblock %}
