{% extends "inventory_base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block extra_css %}
{% endblock %}

{% block content %}
<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    
                </div>
                <h4 class="page-title" style="padding-left: 1.5em;"><i data-feather="archive"></i> LISTA DE PPRODUCTOS</h4>
            </div>
        </div>
    </div>     
    <!-- end page title --> 
    <!--Body-->


    <div class="row" style="padding-left: 3em; padding-right: 3em;">
        <div class="card" style="border-radius: 25px;">
            <div class="card-body p-4">



                <table id="list_product" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Punto de Reorden</th>
                            <th>Productos a Ordenar</th>
                            <th>Existencia</th>
                            <th>Categoria</th>
                            <th style="width: 10em; text-align: center;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{ product.id }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.orderpoint }}</td>
                            <td>{{ product.orderquantity }}</td>
                            <td>
                                {% if product.quantity > product.orderpoint %}
                                    <span class="badge bg-soft-success text-success" style="font-size: 0.85em"><b>{{ product.quantity }}</b></span>
                                {% else %}
                                    <span class="badge bg-soft-danger text-danger" style="font-size: 0.85em"><b>{{ product.quantity }}</b></span>
                                {% endif %}
                            </td>
                            <td>{{ product.category }}</td>
                            <td style="text-align: center;">
                                <small style="font-size: 1.5em; padding-right: 0.5em;"><a href="{% url 'product_suppliers' product.id %}" title="Añadir Proveedor" ><i data-feather="truck" title="Añadir Proveedor"></i></a></small>
                                <small style="font-size: 1.5em; padding-right: 0.5em;"><a href="{% url 'manual_purchase' product.id %}" title="Abastecer" ><i data-feather="archive" title="Abastecer"></i></a></small>   
                                <small style="font-size: 1.5em; padding-right: 0.5em;"><a href="{% url 'list_lot' product.id %}" title="Lotes del producto" ><i data-feather="layers" title="Lotes del producto"></i></a></small>
                                <small style="font-size: 1.5em;"><a href="{% url 'edit_product' product.id %}"><i class="fe-edit" title="Editar Producto"></i></a></small>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>


            </div>
        </div>        
    </div> 
    <!--End Body-->       
</div>
<!-- container -->
{% endblock %}
{% block extra_javascript %}
<script>
    $(document).ready(function() {
        $('#list_product').DataTable().addClass("pagination-rounded");
    } );
</script>

{% endblock%}
