{% extends "inventory_base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block extra_css %}
{% endblock %}

{% block content %}
<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">

                </div>
                <h4 class="page-title"><i data-feather="package"></i><i data-feather="plus"></i> Nuevo Tipo De Producto</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <!--Body-->


    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card" style="border-radius: 25px;">
                <div class="card-body p-4">
                    <!-- Logo-->
                    <div class="text-center w-75 m-auto">
                        <div class="auth-logo">
                            <a href="" class="logo logo-dark text-center">
                                <span class="logo-lg">
                                    <img src="/static/images/DashTory.png" alt="" height="50">
                                </span>
                            </a>

                            <a href="" class="logo logo-light text-center">
                                <span class="logo-lg">
                                    <img src="/static/images/DashTory.png" alt="" height="50">
                                </span> 
                            </a>
                        </div>
                        <p class="text-muted mb-4 mt-3">Crear Nuevo Tipo De Producto</p>
                    </div>
                    <form method="POST" , enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="id_row" value={{ row.id }}>
                        {% if form.errors %}
                        {% for field in form %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {{ form | crispy }}
                        <br>

                        <div style="text-align: end;">
                            <button name="cancel" value="cancel" class="btn btn-danger" />Cancelar</button>
                            &nbsp&nbsp
                            <button type="submit" class="btn btn-primary">Crear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <!--End Body-->
</div>
<!-- container -->
{% endblock %}
{% block extra_javascript %}

{% endblock%}