{% extends "inventory_base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block extra_css %}
{% endblock %}

{% block content %}
<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    
                </div>
                <h4 class="page-title"><i data-feather="plus"></i>  AÑADIR PROVEEDOR</h4>
            </div>
        </div>
    </div>     
    <!-- end page title --> 
    <!--Body-->

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">

            <!-- Formulario de crear Proveedor -->
            <div class="card" style="border-radius: 25px;">
                <div class="card-body p-4">
                     <!-- Logo-->
                     <div class="text-center w-75 m-auto">
                        <div class="auth-logo">
                            <a href="" class="logo logo-dark text-center">
                                <span class="logo-lg">
                                    <img src="/static/images/DashTory.png" alt="" height="50">
                                </span>
                            </a>
            
                            <a href="" class="logo logo-light text-center">
                                <span class="logo-lg">
                                    <img src="/static/images/DashTory.png" alt="" height="50">
                                </span>
                            </a>
                        </div>
                        <p class="text-muted mb-4 mt-3">Agregar un nuevo Proveedor</p>
                    </div>
                    <!-- Form -->
                    {% if success %}
                    <!-- Alerta -->
                    <div class="alert alert-danger alert-dismissible fade show" style="border-radius: 25px;"  role="alert">
                            Ya existe un proveedor registrado con el correo: <strong>{{ email_repeat }}</strong>, vuelve a intentarlo 
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}  
                    <form method="post", enctype="multipart/form-data0">
                        {% csrf_token %}

                        <!-- Email -->
                        <br>
                        <div class="mb-3 row">
                            <label for="lblemail" class="col-sm-2 col-form-label">Correo Electronico*:</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="email" id="lblemail" type="email" placeholder="Correo Electronico (you@example.com)" required>
                                <small>Formato: you@example.com</small>
                            </div>
                        </div>

                        <!-- Nombre del proveedor -->
                        <div class="mb-3 row">
                            <label for="lblname" class="col-sm-2 col-form-label">Proveedor*:</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="name" id="lblname" type="text" placeholder="Proveedor" value="{{name_supplier}}" required>
                            </div>
                        </div>

                        <!-- Direccion -->
                        <div class="mb-3 row">
                            <label for="lbladdress" class="col-sm-2 col-form-label">Direccion*:</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="address" id="lbladdress" type="text" placeholder="Direccion" value="{{address_supplier}}"required>
                            </div>
                        </div>

                        <!-- Telefono -->
                        <div class="mb-3 row">
                            <label for="lblphone" class="col-sm-2 col-form-label">Telefono*:</label>
                            
                            <div class="col-sm-10">
                                <input class="form-control" name="phone" id="lblphone" type="tel" pattern="[0-9]{8}" placeholder="Telefono (12345678)" title="Solo Numeros" value="{{phone_supplier}}" required> 
                                <small>Formato: 12345678</small>
                            </div>
                        </div>

                        <center>
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Agregar</button>
                                <a class="btn btn-secondary" href="{% url 'home' %}">Cancelar</a>
                            </div>
                        </center>
                        
                    </form>
                </div>
            </div>

            
        </div>
    </div> 

    <!--End Body-->       
</div>
<!-- container -->
{% endblock %}
{% block extra_javascript %}

{% endblock%}