{% extends "inventory_base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block extra_css %}
{% endblock %}

{% block content %}
<!-- Start Content-->
<div class="container-fluid">

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">

            <br> <!-- Titulo -->
            <div class="card" style="border-radius: 25px;">
                <div class="card-body">
                    <h4 class="page-title" style=" text-align: center;" >Categoria</h4>

                {% if success %}
                    <!-- Alerta -->
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        Ya existe una categoria con el nombre: <strong>{{ name_category }}</strong>, vuelve a intentarlo 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}    

                </div>    
            </div>

            <!-- Formulario de crear Categoria -->
            <div class="card" style="border-radius: 25px;">
                <div class="card-body">
                    <form method="post", enctype="multipart/form-data0">
                        {% csrf_token %}

                        <!-- Nombre de la Categoria -->
                        <br>
                        <div class="mb-3 row">
                            <label for="lblname" class="col-sm-2 col-form-label">Categoria*:</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="name" id="lblname" type="text" placeholder="Nombre de la Categoria" required>
                            </div>
                        </div>
                        <center>
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Agregar</button>
                                <a class="btn btn-secondary" href="{% url 'home' %}">Regresar</a>
                            </div>
                        </center>
                        
                    </form>
                </div>
            </div>

             <!-- Lista Categorias -->
            <div class="card" style="border-radius: 25px; text-align: center;">
                <div class="card-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <th>Categoria</th>
                        </thead>
                        <tbody>
                            {% for category in categories %}
                            <tr>
                                <td>
                                    {{ category.name }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> 

    <!--End Body-->       
</div>
<!-- container -->
{% endblock %}
{% block extra_javascript %}

{% endblock%}
