{% load static i18n %}
<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">
    <div class="h-100" data-simplebar>

        <!-- User box -->
        <div class="user-box text-center">
            <!--img src="{% static 'images/users/user-1.jpg' %}" alt="user-img" title="Mat Helme"-->
            <!--img src="{% static '/users/user-1.jpg' %}" alt="User" title="Mat Helme"
                class="rounded-circle avatar-md"-->
            <div class="dropdown">
                <a href="javascript: void(0);" class="text-dark dropdown-toggle h5 mt-2 mb-1 d-block"
                    data-bs-toggle="dropdown">{{user}}</a>
                <div class="dropdown-menu user-pro-dropdown">

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-user me-1"></i>
                        <span>My Account</span>
                    </a>

                    <!-- item-->
                    {% if  user.rol.get_rol == 'Administrador' %}
                        <a href="{% url 'admin:index' %}" class="dropdown-item notify-item">
                            <i class="fe-settings me-1"></i>
                            <span>Settings</span>
                        </a>
                    {% endif %}
                    <!-- item-->
                    <a href="{% url 'account_change_password' %}" class="dropdown-item notify-item">
                        <i class="fe-lock me-1"></i>
                        <span>Password Change</span>
                    </a>

                    <!-- item-->
                    <a href="{% url 'account_logout' %}" class="dropdown-item notify-item">
                        <i class="fe-log-out me-1"></i>
                        <span>Logout</span>
                    </a>

                </div>
            </div>
            <p class="text-muted">{{request.user.rol}}</p>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            {% if  user.rol.get_rol == 'Administrador' %}
            <ul id="side-admin">
                <li class="menu-title">Administración</li>

                <li>
                    <a href="{% url 'dashboard' %}">
                        <i data-feather="airplay"></i>
                        <span> Dashboard </span>
                    </a>
                </li>

                <li>
                    <a href="#sidebarUsers" data-bs-toggle="collapse">
                        <i data-feather="users"></i>
                        <span> Usuarios </span>
                    </a>
                    <div class="collapse" id="sidebarUsers">
                        <ul class="nav-second-level">
                            <li>
                                <a  class="btn-abrir-popup" href="{% url 'adduser' %}">
                                    <span> Añadir Usuarios </span>
                                </a>
                            </li>
                            <li>
                                <a  class="btn-abrir-popup" href="{% url 'listuser' %}">
                                    <span> Lista de Usuarios </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>

            {% endif %}

            {% if  user.rol.get_rol == 'Bodeguero' or user.rol.get_rol == 'Administrador' %}
            
            <ul id="side-manager">
                <li class="menu-title">Gerencia</li>    
                <li>
                    <!-- Area de Productos -->
                    <a href="#sidebarManagerProducts" data-bs-toggle="collapse">
                        <i data-feather="layers"></i>
                        <span> Productos </span>
                    </a>
                    <div class="collapse" id="sidebarManagerProducts">
                        <ul class="nav-second-level">
                            <li>
                                <a  class="btn-abrir-popup" href="{% url 'type_create' %}">
                                    <span> Añadir Producto  </span>
                                </a>
                            </li>
                            <li>
                                <a  class="btn-abrir-popup" href="{% url 'listproduct' %}">
                                    <span> Lista de Productos </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <!-- Area de Categorias -->
                    <a href="#sidebarManagerCategories" data-bs-toggle="collapse">
                        <i data-feather="book"></i>
                        <span> Categorias </span>
                    </a>
                    <div class="collapse" id="sidebarManagerCategories">
                        <ul class="nav-second-level">
                            <li>
                                <a  class="btn-abrir-popup" href="{% url 'create_category' %}">
                                    <span> Añadir Categorias  </span>
                                </a>
                            </li>
                            <li>
                                <a  class="btn-abrir-popup" href="{% url 'list_categories' %}">
                                    <span> Lista de Categorias </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <!-- Area de Proveedores -->
                    <a href="#sidebarManagerSupplier" data-bs-toggle="collapse">
                        <i data-feather="truck"></i>
                        <span> Proveedores </span>
                    </a>
                    <div class="collapse" id="sidebarManagerSupplier">
                        <ul class="nav-second-level">
                            <li>
                                <a  class="btn-abrir-popup" href="{% url 'create_supplier' %}">
                                    <span> Añadir Proveedor  </span>
                                </a>
                            </li>
                            <li>
                                <a  class="btn-abrir-popup" href="{% url 'suppliers' %}">
                                    <span> Lista de Proveedores </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <!-- Area de Pedidos -->
                    <a href="#sidebarManagerOrder" data-bs-toggle="collapse">
                        <i data-feather="clipboard"></i>
                        <span> Pedidos </span>
                    </a>
                    <div class="collapse" id="sidebarManagerOrder">
                        <ul class="nav-second-level">
                            <li>
                                <a  class="btn-abrir-popup" href="{% url 'list_orders' %}">
                                    <span> Lista de Pedidos </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="{% url 'transactions' %}">
                        <i data-feather="trending-up"></i>
                        <span> Transacciones </span>
                    </a>
                </li>
            </ul>

            {% endif %}

            {% if  user.rol.get_rol == 'Vendedor' %}
            
            <ul id="side-cashier">
                <li class="menu-title">Vendedor</li>
                <li>
                    <a href="{% url 'register_sale' %}">
                        <i data-feather="dollar-sign"></i>
                        <span> Registrar Venta </span>
                    </a>
                    <a href="#sidebarCustomers" data-bs-toggle="collapse">
                        <i data-feather="users"></i>
                        <span> Clientes </span>
                    </a>
                    <div class="collapse" id="sidebarCustomers">
                        <ul class="nav-second-level">
                            <li>
                                <a  class="btn-abrir-popup" href="{% url 'register_client' %}">
                                    <span> Añadir Cliente </span>
                                </a>
                            </li>
                            <li>
                                <a  class="btn-abrir-popup" href="{% url 'list-client' %}">
                                    <span> Lista de Clientes </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a href="{% url 'transactions-cashier' %}">
                        <i data-feather="trending-up"></i>
                        <span> Transacciones </span>
                    </a>

                </li>
            </ul>

            {% endif %}
        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->