{% extends "inventory_base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block extra_css %}
{% endblock %}

{% block content %}
<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    
                </div>
                <h4 class="page-title"><i data-feather="user"></i> LISTA DE USUARIOS</h4>
            </div>
        </div>
    </div>     
    <!-- end page title --> 
    <!--Body-->


    <div class="row">
        
    </div> 

    <!--End Body-->       
</div>
<!-- container -->
{% endblock %}
{% block extra_javascript %}

{% endblock%}
