{% extends "inventory_base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block extra_css %}
{% endblock %}

{% block content %}
<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    
                </div>
                <h4 class="page-title">DASHBOARD ADMINISTRATIVO</h4>
            </div>
        </div>
    </div>     
    <!-- end page title --> 
    <!--Body-->

    <br>
    
    <div class="row">
        <div class="col-3" style="height: 10em;">
            <div class="widget-rounded-circle card" style="height: 10em; border-radius: 2em;">
                <div class="card-body">
                    <div style="width: content-box; height: 9.0em; margin-top: 0.3em;">
                        <div class="row">
                            <div class="col-4">
                            <div class="avatar-lg rounded-circle bg-warning border-warning border shadow" style="height: 3.5rem; width: 3.5rem;"><i class="fe-hash font-26 avatar-title text-white"></i></div>
                            </div>
                            <div class="col-8">
                            <div class="text-end">
                                {% if most_product %}
                                <div class="row">
                                    <div class="col">
                                        <h3>{{ most_product.product__producttype__name }}</h3>
                                    </div>
                                    <div class="col">
                                        <h3 class="text-dark mt-1"><span data-plugin="counterup">{{ most_product.productos }}</span></h3>
                                    </div>
                                </div>
                                <p class="text-muted mb-1 text-truncate">Ganancias: {{ most_product.total }}</p>
                                {% endif %}
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <br>

    <div class="row">
        <div class="col-4">
            <div class="card" style="border-radius: 2em;">
                <div class="card-body">
                    <div id="id_0" style="width: auto;height:400px;"></div>
                </div>
            </div>
        </div>
    </div> 



    <!--End Body-->       
</div>
<!-- container -->
{% endblock %}
{% block extra_javascript %}


<!--script type="text/javascript">
    // Initialize the echarts instance based on the prepared dom
    var myChart = echarts.init(document.getElementById('main'));

    // Specify the configuration items and data for the chart
    var option = {
      
        title: {
            text: 'Ventas del Mes'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['Ventas']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        toolbox: {
            show: true,
            feature: {
            dataZoom: {
                yAxisIndex: 'none'
            },
            dataView: { readOnly: false },
            magicType: { type: ['line', 'bar'] },
            restore: {},
            saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['1', '2', '3', '4', '5', '6', '7']
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
            name: 'Ventas',
            type: 'line',
            stack: 'Total',
            data: [120, 132, 101, 134, 90, 230, 210]
            }
        ]


    };

    // Display the chart using the configuration items and data just specified.
    myChart.setOption(option);
  </script-->

  <!-- Enviar Charts-->
<script>
    var options = ("{{options|escapejs}}");
    var names = ("{{names|escapejs}}");
    const objOptions = JSON.parse(options);
    const objNames = JSON.parse(names);
    for (var i = 0; i < objNames.length; i++) {
        var chartDom = document.getElementById(objNames[i]);
        var myChart = echarts.init(chartDom);
        const obj = JSON.parse(objOptions[i]);
        myChart.setOption(obj);
    }
</script>

{% endblock%}
